pynmeagps==1.0.20
pynmea2==1.19.0
setuptools==65.5.1
git+https://github.com/pybluez/pybluez.git#egg=pybluez
RPi.GPIO==0.7.1
keyboard==0.13.5
pyserial==3.5
bluepy==1.3.0
pygobject==3.48.2
dbus-python==1.3.2
bleak==0.22.1
paho-mqtt==1.6.1
pre-commit==3.7.0

