[Unit]
Description=Edge Gateway - Platform for easy devices integrations
After=serial-getty.target

[Service]
Environment=PYTHONUNBUFFERED=1
Type=simple
WorkingDirectory=/usr/bin/datalogger
ExecStart=/usr/bin/datalogger/env/bin/python3 ./src/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=basic.target
